<!DOCTYPE HTML>
<head>
<link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      crossorigin="anonymous"
    />
    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>
<link rel="stylesheet" href="/static/style2.css">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Lateef&display=swap" rel="stylesheet"> 
</head>
<body>
	<div class="nav-btn">Menu</div>
	<div class="container">
		<div class="sidebar">
			<nav>
				<ul>
					{% if user.is_authenticated %}
					{% if user.position == "Director"%}
						<li class="active"><a style="font-size:25px ;font-family:'Lateef', cursive" href="display_dashboard">Director-Display</a></li>
						<li><a style="font-size:25px; font-family:'Lateef', cursive" href="/depts_add">Add Departments</a></li>
						<li><a style="font-size:25px; font-family:'Lateef', cursive" href="/depts_check">Check Departments List</a></li>
						<li><a style="font-size:25px; font-family:'Lateef', cursive" href="/manager_view_leaves">View Managers Leaves</a></li>
					{% endif %}
					
					{% if user.position == "Manager"%}
					<li><a style="font-size:25px ;font-family:'Lateef', cursive" href="display_dashboard">Dashboard</a></li>
					<li><a style="font-size:25px; font-family:'Lateef', cursive" href="/view_leaves">View Employees-Leaves-Applications</a></li>
					<li class="active"><a style="font-size:25px; font-family:'Lateef', cursive" href="/#">Check-Department's-Status</a></li>
					{% endif %}
          				{% else %}
          					<li><a style="font-size:25px; font-family:'Lateef', cursive" href="/login">Login</a></li>
          					<li><a style="font-size:25px; font-family:'Lateef', cursive" href="/sign-up">Sign Up</a></li>
          				{% endif %}
				</ul>
			</nav>
		</div>
					{% with messages = get_flashed_messages(with_categories=true) %} {% if
  					messages %} {% for category, message in messages %} {% if category ==
    					'error' %}
    					<div class="alert alert-danger alter-dismissable fade show" role="alert">
      					{{ message }}
      					<button type="button" class="close" data-dismiss="alert">
        				<span aria-hidden="true">&times;</span>
      					</button>
    					</div>
 					{% else %}
    					<div class="alert alert-success alter-dismissable fade show" role="alert">
      					{{ message }}
      					<button type="button" class="close" data-dismiss="alert">
       					<span aria-hidden="true">&times;</span>
      					</button>
    					</div>
    					{% endif %} {% endfor %} {% endif %} {% endwith %}
         <div class="main-content">
  <h1 style="font-family:'Lateef', cursive; font-size:50px">Dashboard</h1>
  <div class="panel-wrapper">
		<div class="panel-head" style="font-family:'Lateef'; cursive; font-size:30px; background-color:#8FBC8F; border:2px solid black">
			The Leave Applications for the department are:- 
		</div>
		<div class="panel-body" style="font-family:'Lateef', cursive; font-size:20px,  border:2px solid black">
  		<table class="table table-bordered" style="border:2px solid black" align="center">
		<!--<table border="1" border-spacing:5px>-->
   		<thead>
      		<tr>
			<th style="font-family:'Lateef', cursive; font-size:30px; background-color:#8FBC8F; color:white; border:1px solid black">Name of the Department</th>
			<!--<th style="font-family:'Lateef', cursive; font-size:30px; background-color:#8FBC8F; color:white; border:1px solid black">Department -ID</th>-->
			<th style="font-family:'Lateef', cursive; font-size:30px; background-color:#8FBC8F; color:white; border:1px solid black">ID of the department</th>
			<th style="font-family:'Lateef', cursive; font-size:30px; background-color:#8FBC8F; color:white; border:1px solid black">Total Employees</th>
			<th style="font-family:'Lateef', cursive; font-size:30px; background-color:#8FBC8F; color:white; border:1px solid black">Working Employees</th>
			<th style="font-family:'Lateef', cursive; font-size:30px; background-color:#8FBC8F; color:white; border:1px solid black">On leaves Employees</th>
		</tr>
		</thead>
		<tbody>
		{% for depts in name %}
		<tr style="font-family:'Lateef', cursive; font-size:25px; background-color:#F0F8FF; border:1px solid black">
			<td>{{ depts.dept_name }}</td>
			<td>{{ depts.dept_id }}</td>
			<td>{{ depts.total_emp }}</td>
			<td>{{ depts.working_emp }}</td>
			<td>{{ depts.onleave_emp }}</td>
		</tr>
		{% endfor %}
		</tbody>
		</table>
		</div>
		</div>
</div>
</div>
</body>
</html>

