<!DOCTYPEHTML>
<head>
 <meta charset="utf-8" />
   <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      crossorigin="anonymous"
    />
<link rel="stylesheet" href="/static/style2.css">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Lateef&display=swap" rel="stylesheet"> 
</head>
<body>
	<div class="nav-btn">Menu</div>
	<div class="container">
		<div class="sidebar">
			<nav>
				<ul>
					<li class="active"><a style="font-size:25px ;font-family:'Lateef', cursive" href="/display_dashboard">Dashboard</a></li>
					{% if user.is_authenticated %}
          					<li><a style="font-size:25px; font-family:'Lateef', cursive" href="/home1">Home</a></li>
          					<li><a style="font-size:25px; font-family:'Lateef', cursive" href="/logout">Logout</a></li>
					        <li><a style="font-size:25px; font-family:'Lateef', cursive" href="/leave_start">Apply for leave</a></li>
						<li class="active"><a style="font-size:25px; font-family:'Lateef', cursive" href="/status">Check Leave Status</a></li>
						<li><a style="font-size:25px; font-family:'Lateef', cursive" href="/salary_flow">Check-Salary flow</a></li>
						<li><a style="font-size:25px; font-family:'Lateef', cursive" href="#">Check Your-Leave-history</a></li>
          				{% else %}
          					<li><a style="font-size:25px; font-family:'Lateef', cursive" href="/login">Login</a></li>
          					<li><a style="font-size:25px; font-family:'Lateef', cursive" href="/sign-up">Sign Up</a></li>
          				{% endif %}
				</ul>
			</nav>
		</div>
	<div class="main-content">
	<div class="panel-wrapper">
		<div class="panel-head" style="font-family:'Lateef'; cursive; font-size:30px; background-color:#8FBC8F; border:2px solid black">
			Your Leave history upto today is
		</div>
		<div class="panel-body" style="font-family:'Lateef', cursive; font-size:20px,  border:2px solid black">
  		<table class="table table-bordered" style="border:2px solid black" align="center">
		<!--<table border="1" border-spacing:5px>-->
   		<thead>
      		<tr>
			<th style="font-family:'Lateef', cursive; font-size:30px; background-color:#8FBC8F; color:white; border:1px solid black">Leave Status</th>
			<!--<th style="font-family:'Lateef', cursive; font-size:30px; background-color:#8FBC8F; color:white; border:1px solid black">Department -ID</th>-->
			<th style="font-family:'Lateef', cursive; font-size:30px; background-color:#8FBC8F; color:white; border:1px solid black">Type of leave</th>
			<th style="font-family:'Lateef', cursive; font-size:30px; background-color:#8FBC8F; color:white; border:1px solid black">From</th>
			<th style="font-family:'Lateef', cursive; font-size:30px; background-color:#8FBC8F; color:white; border:1px solid black">TO</th>
			<th style="font-family:'Lateef', cursive; font-size:30px; background-color:#8FBC8F; color:white; border:1px solid black">Mssgs/Comments</th>
			<th style="font-family:'Lateef', cursive; font-size:30px; background-color:#8FBC8F; color:white; border:1px solid black">File proofs Uploaded</th>
			<!--<th style="font-family:'Lateef', cursive; font-size:30px; background-color:#8FBC8F; color:white; border:1px solid black">Approve/Reject the Leaves</th>
			<th style="font-family:'Lateef', cursive; font-size:30px; background-color:#8FBC8F; color:white; border:1px solid black">Check Proofs</th>
			<th style="font-family:'Lateef', cursive; font-size:30px; background-color:#8FBC8F; color:white; border:1px solid black">Confirm Action</th>-->
			
		</tr>
		</thead>
		<tbody>
		{% for new_row in leave %}
		<tr style="font-family:'Lateef', cursive; font-size:25px; background-color:#F0F8FF; border:1px solid black">
			<td style="border:1px solid black">{{ new_row.leave_status }}</td>
			<!--<td>{{ new_row.dept_id }}</td>-->
			<td>{{ new_row.leave_type }}</td>
			<td>{{ new_row.start_date }}</td>
			<td>{{ new_row.end_date }}</td>
			<td>{{ new_row.mssgs }}</td>
			<!--<td><input
     		 		type="text"
      				class="form-control"
      				id="{{ new_row.emp_id }}"
      				name="{{ new_row.emp_id }}"
      				value="{{ new_row.emp_id }}"
    				/></td>-->
			<!--<form method="POST" action="/table/{{ new_row.emp_id }}">
			<td>    <input type="radio" id="Approved" name="app" value="Approved">
				<label for="approve">Approve</label><br>
				<input type="radio" id="Rejected" name="app" value="Rejected">
     				<label for="reject">Reject</label><br>
    				<input type="radio" id="Kept-Pending" name="app" value="Kept-Pending">
				<label for="pending">Pending</label><br></td>-->
			<td><a style="color:black" href="/view_proofs">View proof files</a></td>
			<!--<td><a href="/table/{{ new_row.emp_id }}"><button type='submit' class="btn btn-primary">Confirm</button></a></td>-->
                        <!--<td><a style="font-family:'Lateef', cursive; font-size:30px" href="/view/{{ new_row.emp_id }}"><button style="font-family:'Lateef', cursive; font-size:25px;" type='submit' class="btn btn-primary btn-block">View leave</button></a></td>-->
		{% endfor %}
		</tr>
		</tbody>
		</table>
		</div>
		</div>
</div>
</div>
</body>
</html>
