<!DOCTYPE HTML>
<head>
<link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      crossorigin="anonymous"
    />
    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>
<link rel="stylesheet" href="/static/style2.css">
<!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">-->
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Lateef&display=swap" rel="stylesheet"> 
</head>
<body>
	<div class="nav-btn">Menu</div>
	<div class="container">
		<div class="sidebar" style="overflow: auto">
			<nav>
				<ul>
					{% if user.is_authenticated %}
						<li class="active"><a style="font-size:25px ;font-family:'Lateef', cursive;" href="#">Dashboard</a></li>
          					<li><a style="font-size:25px; font-family:'Lateef', cursive" href="/home1"Home</a></li>
          					<li><a style="font-size:25px; font-family:'Lateef', cursive" href="/logout">Logout</a></li>
						{% if user.position == 'Manager' %}
						<li><a style="font-size:25px; font-family:'Lateef', cursive" href="/view_leaves">View Employees-Leaves-Applications</a></li>
						<li><a style="font-size:25px; font-family:'Lateef', cursive" href="/dept_status">Check-Department's-Status</a></li>
						<li><a style="font-size:25px; font-family:'Lateef', cursive" href="/salary_status">Check Salaryflow of Department Employees</a></li>
						{% endif %}
						{% if user.position != 'Director' %}
					        <li><a style="font-size:25px; font-family:'Lateef', cursive" href="/leave_start">Apply for leave</a></li>
						<li><a style="font-size:25px; font-family:'Lateef', cursive" href="/status">Check Current-Leave Status</a></li>
						<li><a style="font-size:25px; font-family:'Lateef', cursive" href="/salary_flow">Check-Salary flow</a></li>
						<li><a style="font-size:25px; font-family:'Lateef', cursive" href="/leave_history">Check Your-Leave-history</a></li>
						{% endif %}
						{% if user.position == 'Director' %}
						<li><a style="font-size:25px; font-family:'Lateef', cursive" href="/manager_view_leaves">View Managers Leaves</a></li>
						<li><a style="font-size:25px; font-family:'Lateef', cursive" href="/depts_add">Add Departments</a></li>
						<li><a style="font-size:25px; font-family:'Lateef', cursive" href="/depts_check">Check Departments List</a></li>
						<li><a style="font-size:25px; font-family:'Lateef', cursive" href="/leave_deletion">Delete the leaves</a></li>
						{% endif %}
          					{% else %}
          					<li><a style="font-size:25px; font-family:'Lateef', cursive" href="/login">Login</a></li>
          					<li><a style="font-size:25px; font-family:'Lateef', cursive" href="/sign-up">Sign Up</a></li>
          					{% endif %}
				</ul>
			</nav>
		</div>
			{% with messages = get_flashed_messages(with_categories=true) %} {% if
    			messages %} {% for category, message in messages %} {% if category ==
    			'error' %}
    			<div class="alert alert-danger alter-dismissable fade show" role="alert">
      			{{ message }}
      			<button type="button" class="close" data-dismiss="alert">
        		<span aria-hidden="true">&times;</span>
      			</button>
    			</div>
    			{% else %}
    			<div class="alert alert-success alter-dismissable fade show" role="alert">
      			{{ message }}
      			<button type="button" class="close" data-dismiss="alert">
        		<span aria-hidden="true">&times;</span>
      			</button>
    			</div>
    			{% endif %} {% endfor %} {% endif %} {% endwith %}
			<div class="main-content">
			<center><h1 style="font-family:'Lateef', cursive; font-size:60px; color:#4682B4; align:center; text-shadow: 2px 2px 2px">User Dashboard</h1></center>
			<!--<p>Here you can stuff!</p>
                        <p>Name:{{ user.first_name }} {{ user.last_name }}</p>
                	<p>email:{{ user.email }},</p>
                	<p>Gender:{{ user.gen }}, </p>
                	<p>DOB:{{ user.dob }}, </p>
                	<p>Emp-ID:{{ user.emp_id }}</p>
                	<p>Dept-ID:{{ user.dept_id }}</p>
                	<p>position:{{ user.position }}</p>
                	<p>contact-no:{{ user.contact_no }}</p>-->
 			<div class="panel-wrapper">
				<div class="panel-head" style="font-family:'Lateef', cursive; font-size:35px; background-color:#4682B4; border:1px solid black; color:#F8F8FF">
					&#9755;&nbsp;Personal-Details 
				</div>
				<div class="panel-body" style="font-family:'Lateef', cursive; font-size:30px; background-color:#E6E6FA">
					&bull;&nbsp;<b>Name:&nbsp;{{ user.first_name }} {{ user.last_name }}</b>
				</div>
				<div class="panel-body" style="font-family:'Lateef', cursive; font-size:30px; background-color:#E6E6FA">
					&bull;&nbsp;<b>GENDER:&nbsp;{{ user.gen }}</b>
				</div>
				<div class="panel-body" style="font-family:'Lateef', cursive; font-size:30px; background-color:#E6E6FA">
					&bull;&nbsp;<b>Date-of-Birth:&nbsp;{{ user.dob }}</b>
				</div>
			</div>
			<div class="panel-wrapper">
				<div class="panel-head" style="font-family:'Lateef', cursive; font-size:35px; background-color:#4682B4; border:1px solid black">
					&#9755;&nbsp;Contact-Details
				</div>
				<div class="panel-body" style="font-family:'Lateef', cursive; font-size:30px; background-color:#E6E6FA">
					&bull;&nbsp;<b>Email-ID:&nbsp;{{ user.email }}</b>
				</div>
				<div class="panel-body" style="font-family:'Lateef', cursive; font-size:30px; background-color:#E6E6FA">
					&bull;&nbsp;<b>Contact-No:&nbsp;{{ user.contact_no }}</b>
				</div>
			</div>
			<div class="panel-wrapper">
				<div class="panel-head" style="font-family:'Lateef', cursive; font-size:35px; background-color:#4682B4; border:1px solid black">
					&#9755;&nbsp;Employee-Identification Number:
				</div>
				<div class="panel-body" style="font-family:'Lateef', cursive; font-size:30px; background-color:#E6E6FA">
					<b>{{ user.emp_id }}<b>
				</div>
			</div>
			<div class="panel-wrapper">
				<div class="panel-head" style="font-family:'Lateef', cursive; font-size:35px; background-color:#4682B4; border:1px solid black">
					&#9755;&nbsp;Department-of-Employee:
				</div>
				<div class="panel-body" style="font-family:'Lateef', cursive; font-size:30px; background-color:#E6E6FA">
					<b>{{ user.dept_id }}</b>
				</div>
			</div>
			<div class="panel-wrapper">
				<div class="panel-head" style="font-family:'Lateef', cursive; font-size:35px; background-color:#4682B4; border:1px solid black">
					&#9755;&nbsp;Designation-of-Employee
				</div>
				<div class="panel-body" style="font-family:'Lateef', cursive; font-size:30px; background-color:#E6E6FA">
					<b>{{ user.position }}</b>
				</div>
			</div>
			<!--<button type="submit" class="btn btn-primary">Submit</button> <button type="submit" class="btn btn-primary">Submit</button>-->
		</div>
       </div>
</body>
