<!DOCTYPE HTML>
<head>
 <meta charset="utf-8" />
   <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      crossorigin="anonymous"
    />
    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>
<link rel="stylesheet" href="/static/style2.css">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Lateef&display=swap" rel="stylesheet"> 
<style>
* {
  box-sizing: border-box;
  font-family: 'Lateef', cursive;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  font-size: 30px;
  text-align: center;
  background-color: darkblue;
  justify-content: space-around;
}

.flex-item1{
  background-color: white;
  color: darkblue;
  margin: 10px;
  padding: 5px;
  flex: 15%;
  font-size: 35px;
  text-decoration: none;
  border-radius: 40%;
}

.flex-containera {
  display: flex;
  flex-wrap: wrap;
  font-size: 30px;
  text-align: center;
  background-color: white;
  justify-content: space-around;
}

.flex-item2{
  background-color: darkblue;
  color: white;
  margin: 10px;
  padding: 5px;
  flex: 15%;
  font-size: 35px;
  text-decoration: none;
  border-radius: 50%;
}

.flex-item3{
  background-color: darkblue;
  color: white;
  margin: 10px;
  padding: 5px;
  flex: 25%;
  border-radius: 0%;
}
.flex-container1{
  display: flex;
  flex-wrap: wrap; 
  justify-content: space-around;
}


.flex1{
  padding: 20px;
  width: 100%;
}

.flex2{
  margin: 10px;
  padding: 10px;
  float: right;
  background-color: darkblue;
  color: white;
  font-size: 25px;
  flex: 40%;
  overflow: auto;
}
h1{
  border: 10px solid darkblue;
  display: inline-block;
  float: right;
  width: 75%;
  font-size: 55px;
  color: darkblue;
  height: 10%;
  text-align: center;
  height: 10%;
}

.img1{
  width:15%;
  height: 10%;
}

@media screen and (max-width: 800px) {
  /*.flex2 {
    border-radius: 20%;
  } */
  .flex-item1 , .flex-item2 {
    flex: 100%;
    color: blue;
  }
   h1{
    width: 75%;
    color: white;
  }
  .img1{
    width: 15%;
  }
  * {
    background-color: #357EC7;
  }
  .flex-item1 a {
    background-color: white;
  } 
  .flex-item2 a {
    background-color: darkblue;
  } 
  .flex2  {
    background-color: darkblue;
  } 
  .flex2 ul{
    background-color: darkblue;
  } 
  .flex2 li{
    background-color: darkblue;
  } 
  .flex2 a {
    background-color: darkblue;
  } 
  .flex2 u {
    background-color: darkblue;
  } 
  .flex2 b {
    background-color: darkblue;
  } 
}


</style>
</head>
<body>
	<div class="nav-btn">Menu</div>
	<div class="container">
		<div class="sidebar">
			<nav>
				<ul>
					{% if user.is_authenticated %}
					<li class="active"><a style="font-size:25px; font-family:'Lateef', cursive" href="#">Home</a></li>
					<li><a style="font-size:25px; font-family:'Lateef', cursive" href="/logout">Logout</a></li>
					{% else %}
					<li class="active"><a style="font-size:25px; font-family:'Lateef', cursive" href="#">Home</a></li>
					<li><a style="font-size:25px; font-family:'Lateef', cursive" href="/login">Login</a></li>
          				<li><a style="font-size:25px; font-family:'Lateef', cursive" href="/sign-up">Sign Up</a></li>
					{% endif %}
          			</ul>
			</nav>
		</div>
                <div class="main-content">
				<div class="panel-wrapper">
				<div class="panel-head" style="font-family:'Lateef', cursive; font-size:50px; background-color:#5F9EA0; color:#F0F8FF; align:center; text-shadow: 1px 1px 1px" >
						Welcome to Employee-Leave Approval System
				</div>
				<div class="panel-body" style="font-family:'Lateef', cursive; font-size:30px; color:#2F4F4F">
						&#x270D;&nbsp;Employee Leave Approval System provides a user-friendly platfrom which is easy to use.<br>
						&#x270D;&nbsp;This system automates the leave request process, making it hassle-free for both the management and the employees.
<div class="flex-container1">
<div class="flex2" style="background-color:#2F4F4F"><img src="/static/SE_leave.jpeg" alt="Leave" width="100%" height=300px></div>
<div class="flex2" style="font-family:'Lateef', cursive; font-size:35px; background-color:#2F4F4F">&#x270E;&nbsp;Reduces the paper work completely.<br>&#x270E;&nbsp;Easy to apply<br>&#x270E;&nbsp;Saves cost,paper and time<br>&#x270E;&nbsp;Reduces human intervention</div>
<div class="flex2" style="background-color:#008B8B; padding:20px 20px 20px 20px"><img src="/static/SE4.png" alt="Leave" width="100%" height=300px algin="cenetr"></div>
<div class="flex2" style="font-family:'Lateef', cursive; font-size:35px; background-color:#008B8B">&bull;&nbsp;Define types of leaves<br>&bull;&nbsp;Categorisation of leaves making decisions easy for management side.<br>&bull;&nbsp;Uploading documents for specific leaves.</div>
<div class="flex2" style="background-color:#66CDAA"><img src="/static/SE3.jpg" alt="Leave" width="100%" height=300px></div>
<div class="flex2" style="font-family:'Lateef', cursive; font-size:35px; background-color:#66CDAA">&#x2713;&nbsp;Simple Approval Flows.<br>&#x2713;&nbsp;Approve/Reject just with a single click.<br>&#x2713;&nbsp;Leave Records Updated instantly.<br>&#x2713;&nbsp;Preserve history of leaves</div>
<div class="flex2" style="background-color:#20B2AA"><img src="/static/payroll.jpeg" alt="Leave" width="100%" height=300px></div>
<div class="flex2" style="font-family:'Lateef', cursive; font-size:35px; background-color:#20B2AA">&#x20B9;&nbsp;Automatic leaves balance calculations.<br>&#x20B9;&nbsp;Automatic salary-cut calculations.<br>&#x20B9;&nbsp;Transparency at Employee-side in salary-cut.</div>


<!--<img src="iim1.jpg" alt="IIMA" width="100%" height="100%"></div>
<div class="flex2"><b  style ="color:white;font-weight:bold;font-size:40px">Academic programes:</b><br><ul><li><a style ="color:white;font-weight:bold;font-size:35px" href="prog1.html">Phd. Programme in Management</a></li>
<li><a style ="color:white;font-weight:bold;font-size:30px" href="prog2.html">2Year PG programme in Management</a></li>
<li><a style ="color:white;font-weight:bold;font-size:30px" href="prog3.html">1Year Full-time PG programme for Management-Executives.(MDA-PGPX)</a></li>
<li><a style ="color:white;font-weight:bold;font-size:30px" href="https://www.iima.ac.in/web/fdp/">Faculty-Development Programme(FDP)</a></li>
<li><a style ="color:white;font-weight:bold;font-size:30px" href="prog4.html">e-mode Post-Graduate Programme (epgp)</a></li>
<li><a style ="color:white;font-weight:bold;font-size:30px" href="https://web.iima.ac.in/exed/">Executive Education Programme(EEP)</a></li>
<li><a style ="color:white;font-weight:bold;font-size:30px" href="prog5.html">Armed-Forces Programme</a></li>
</ul></div>
<div class="flex2"><img src="iim2.jpg" alt="IIMA" width="100%" height="100%"></div>
<div class="flex2"><u style ="color:white;font-weight:bold;font-size:30px">Louis Kahn Plaza during convocation.</u><br><a href="https://www.iima.ac.in/web/about-iima/campus/photo-gallery"><img src="https://www.iima.ac.in/image/image_gallery93cb.jpg?uuid=ca2580be-9302-48fb-be0b-f022def848c5&groupId=165249&t=1493969545530" width="100%" height="100%"></a></div>
<div class="flex2"><u style ="color:white;font-weight:bold;font-size:30px">The Vikram-Sarabhai Library.</u><br><a href="https://library.iima.ac.in/"><img src="https://www.iima.ac.in/image/image_gallery2955.jpg?uuid=1901e93b-51f9-4197-b0e4-6d3f10a639a1&groupId=165249&t=1493974229807" width="100%" height="100%" ></a></div>
<div class="flex2"><u style ="color:white;font-weight:bold;font-size:30px">The New-Campus.</u><br><a href="http://restoration.iima.ac.in/"><img src="https://www.iima.ac.in/image/image_gallery6260.jpg?uuid=65ea6dd4-2045-45c0-b575-28176d351ae1&groupId=165249&t=1481369211118" width="100%" height="100%" ></a></div>
<div class="flex2"><u style ="color:white;font-weight:bold;font-size:30px">Louis Kahn Plaza</u><br><a href="https://www.iima.ac.in/web/about-iima/campus/campus-tour/rjmcei-auditorium-plaza"><img src="https://www.iima.ac.in/image/image_gallery45e5.jpg?uuid=9700057d-9542-4a95-88bf-7cd047f4c4a9&groupId=165249&t=1493974229797" width="100%" height="100%" ></a></div>-->
</div>
</div>
</div>			
</div>
</div>
</body>
	
