{% extends "base.html" %} {% block title %}Sign Up{% endblock %} {% block
content %}
<form method="POST">
 <h2 align="center">Please fill the details to continue for the leave application process.</h2>
 <h3> Select the duration of leave </h3>
  <p><div class="form-group">
    <label for="df">From</label></br>
    <input
      type="date"
      class="form-control"
      id="df"
      name="df"
      placeholder="Enter date" max="2021-06-01" required
    /> 
 </div>
 <div class="form-group">
    <label for="dt">To</label></br>
    <input
      type="date"
      class="form-control"
      id="dt"
      name="dt"
      placeholder="Enter date" max="2021-06-01" required
    /> 
 </div></p>
 <br>
 <br><br>
 <button type="submit" class="btn btn-primary">Submit</button>
  <br>
</form>
{% endblock %}
