<!DOCTYPE HTML>
<head>
 <meta charset="utf-8" />
   <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      crossorigin="anonymous"
    />
    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>
<link rel="stylesheet" href="/static/style2.css">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Lateef&display=swap" rel="stylesheet"> 
</head>
<body>
	<div class="nav-btn">Menu</div>
	<div class="container">
		<div class="sidebar">
			<nav>
				<ul>
					<li><a style="font-size:25px ;font-family:'Lateef', cursive" href="/">Home</a></li>
					{% if user.is_authenticated %}
          					<li><a style="font-size:25px; font-family:'Lateef', cursive" href="/">Home</a></li>
          					<li><a style="font-size:25px; font-family:'Lateef', cursive" href="/logout">Logout</a></li>
					        <li><a style="font-size:25px; font-family:'Lateef', cursive" href="/leave_start">Apply for leave</a></li>
						<li><a style="font-size:25px; font-family:'Lateef', cursive" href="/leave_start">Check Leave Status</a></li>
						<li><a style="font-size:25px; font-family:'Lateef', cursive" href="/leave_start">Check-Salary flow</a></li>
          				{% else %}
          					<li class="active"><a style="font-size:25px; font-family:'Lateef', cursive" href="#">Login</a></li>
          					<li><a style="font-size:25px; font-family:'Lateef', cursive" href="/sign-up">Sign Up</a></li>
						<li><a style="font-size:25px; font-family:'Lateef', cursive" href="/forgot_password">Forgot Password</a></li>
          				{% endif %}
				</ul>
			</nav>
		</div>
					 {% with messages = get_flashed_messages(with_categories=true) %} {% if
    					messages %} {% for category, message in messages %} {% if category ==
    					'error' %}
    					<div class="alert alert-danger alter-dismissable fade show" role="alert">
      					{{ message }}
      					<button type="button" class="close" data-dismiss="alert">
        				<span aria-hidden="true">&times;</span>
      					</button>
    					</div>
    					{% else %}
    					<div class="alert alert-success alter-dismissable fade show" role="alert">
      					{{ message }}
      					<button type="button" class="close" data-dismiss="alert">
        				<span aria-hidden="true">&times;</span>
      					</button>
    					</div>
    					{% endif %} {% endfor %} {% endif %} {% endwith %}

	<div class="main-content">
	<form method="POST" action=/login>
	<h3 style="font-family:'Lateef', cursive; font-size:40px" align="center">Login </h3>
	<div class="panel-wrapper">
		<div class="panel-head" style="font-family:'Lateef', cursive; font-size:40px;">
			Login to the System
		</div>
		<div class="panel-body" style="font-family:'Lateef', cursive; font-size:25px;">
    		<div class="form-group">
    		<label for="emp_id">Employee-ID</label>
    		<input
    		  type="number"
     		 class="form-control"
     		 id="emp_id"
     		 name="emp_id"
     		 placeholder="Enter Employee ID" required min="10000000" max="99999999" step="1" required
    		/>
  		</div>
  		<div class="form-group">
   		 <label for="password">Password</label>
    		<input
      		type="password"
      		class="form-control"
      		id="password"
      		name="password"
      		placeholder="Enter password" required
    		/>
  		</div>
  		<br />
  		<button type="submit" class="btn btn-primary">Login</button> 
		 		&nbsp;&nbsp;&nbsp;<a style="font-size:20px; font-family:'Lateef', cursive; color:Dodgerblue" href="/sign-up">Dont have an account?Sign-up</a>
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a style="font-size:20px; font-family:'Lateef', cursive; color:Dodgerblue" href="/forgot_password">Forgot Password?</a>
		</div>
	</div>
	</div>
</div>
</form>
</body>
