<!DOCTYPE HTML>
<head>
<link rel="stylesheet" href="/static/style2.css">
<link rel="stylesheet" href="/static/table.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Lateef&display=swap" rel="stylesheet"> 
<style>
.responsive-table {
  li {
    border-radius: 3px;
    padding: 25px 30px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
  }
  .table-header {
    background-color: #95A5A6;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 0.03em;
  }
  .table-row {
    background-color: #ffffff;
    box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.1);
  }
  .col col-1 {
    flex-basis: 10%;
  }
  .col-2 {
    flex-basis: 40%;
  }
  .col-3 {
    flex-basis: 25%;
  }
  .col-4 {
    flex-basis: 25%;
  }
  
  @media all and (max-width: 767px) {
    .table-header {
      display: none;
    }
    .table-row{
      
    }
    li {
      display: block;
    }
    .col {
      
      flex-basis: 100%;
      
    }
    .col {
      display: flex;
      padding: 10px 0;
      &:before {
        color: #6C7A89;
        padding-right: 10px;
        content: attr(data-label);
        flex-basis: 50%;
        text-align: right;
      }
    }
  }
}
</style>
</head>
<body>
	<div class="nav-btn">Menu</div>
	<div class="container">
		<div class="sidebar">
			<nav>
				<ul>
					{% if user.is_authenticated %}
						<li><a style="font-size:25px ;font-family:'Lateef', cursive" href="display_dashboard">Dashboard</a></li>
          					<li><a style="font-size:25px; font-family:'Lateef', cursive" href="/home1">Home</a></li>
          					<li><a style="font-size:25px; font-family:'Lateef', cursive" href="/logout">Logout</a></li>
						{% if user.position=="Manager" %}
						<li class="active"><a style="font-size:25px; font-family:'Lateef', cursive" href="#">Check Employees Leaves</a></li>
					        <li><a style="font-size:25px; font-family:'Lateef', cursive" href="/leave_start">Apply for leave</a></li>
						<li><a style="font-size:25px; font-family:'Lateef', cursive" href="/status">Check Your Leave Status</a></li>
						<li><a style="font-size:25px; font-family:'Lateef', cursive" href="/salary_flow">Check Your Salary flow</a></li>
						<li><a style="font-size:25px; font-family:'Lateef', cursive" href="/dept_status">Check-Department's-Status</a></li>
						{% endif %}
						{% if user.position=="Director" %}
						<li class="active"><a style="font-size:25px; font-family:'Lateef', cursive" href="#">Check Managers Leaves</a></li>
						{% endif %}
          				{% else %}
          					<li><a style="font-size:25px; font-family:'Lateef', cursive" href="/login">Login</a></li>
          					<li><a style="font-size:25px; font-family:'Lateef', cursive" href="/sign-up">Sign Up</a></li>
          				{% endif %}
				</ul>
			</nav>
		</div>
  <div class="main-content">
  <h1 style="font-family:'Lateef', cursive; font-size:50px">Dashboard</h1>
  <div class="panel-wrapper">
		<div class="panel-head" style="font-family:'Lateef'; cursive; font-size:30px; background-color:#8FBC8F; border:2px solid black">
			The Leave Applications for the department are:- 
		</div>
		<div class="panel-body" style="font-family:'Lateef', cursive; font-size:20px,  border:2px solid black">
  		<table class="table table-bordered" style="border:2px solid black" align="center">
   		<thead>
      		<tr>
			<th style="font-family:'Lateef', cursive; font-size:30px; background-color:#8FBC8F; color:white; border:1px solid black">Employee-ID</th>
			<th style="font-family:'Lateef', cursive; font-size:30px; background-color:#8FBC8F; color:white; border:1px solid black">Total-Salary</th>
			<th style="font-family:'Lateef', cursive; font-size:30px; background-color:#8FBC8F; color:white; border:1px solid black">Updated-Salary</th>
			<th style="font-family:'Lateef', cursive; font-size:30px; background-color:#8FBC8F; color:white; border:1px solid black">Total-Leaves</th>
		</tr>
		</thead>
		<tbody>
		{% for new_row in new_rows %}
		<tr style="font-family:'Lateef', cursive; font-size:25px; background-color:#F0F8FF; border:1px solid black">
			<td style="border:1px solid black">{{ new_row.emp_id }}</td>
			<!--<td>{{ new_row.dept_id }}</td>-->
			<td>{{ new_row.total_salary }}</td>
			<td>{{ new_row.updated_salary }}</td>
			<td>{{ new_row.days_leave }}</td>
		</tr>
		{% endfor %}
		</tbody>
		</table>
		</div>
		</div>
</div>
</div>
</body>
</html>
