<!DOCTYPEHTML>
<head>
 <meta charset="utf-8" />
   <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      crossorigin="anonymous"
    />
<link rel="stylesheet" href="/static/style2.css">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Lateef&display=swap" rel="stylesheet"> 
</head>
<body>
	<div class="nav-btn">Menu</div>
	<div class="container">
		<div class="sidebar">
			<nav>
				<ul>
					<li ><a style="font-size:25px ;font-family:'Lateef', cursive" href="/display_dashboard">Dashboard</a></li>
					{% if user.is_authenticated %}
          					<li><a style="font-size:25px; font-family:'Lateef', cursive" href="/home1">Home</a></li>
          					<li><a style="font-size:25px; font-family:'Lateef', cursive" href="/logout">Logout</a></li>			
					 	<li><a style="font-size:25px; font-family:'Lateef', cursive" href="/status">Check Current-Leave Status</a></li>
						
						<li class="active"><a style="font-size:25px; font-family:'Lateef', cursive" href="/salary_flow">Check-Salary flow</a></li>
						<li><a style="font-size:25px; font-family:'Lateef', cursive" href="/leave_history">Check Your-Leave-history</a></li>
          				{% else %}
          					<li><a style="font-size:25px; font-family:'Lateef', cursive" href="/login">Login</a></li>
          					<li><a style="font-size:25px; font-family:'Lateef', cursive" href="/sign-up">Sign Up</a></li>
          				{% endif %}
				</ul>
			</nav>
		</div>
	<div class="main-content">
	<div class="panel-wrapper">
		<div class="panel-head" style="font-family:'Lateef', cursive; font-size:40px; background-color:#5F9EA0; border:1px solid black">
			Your Current Salary-flow-cut status is:
		</div>
		<div class="panel-body" style="font-family:'Lateef', cursive; font-size:30px"><b>
			<p>&bull;&nbsp;Emp-ID:&nbsp;{{ new_salary.emp_id }}</p>
			<p>&#x20B9;&nbsp;Total-Salary:&nbsp;{{ new_salary.total_salary }}</p>
                        <p>&#x20B9;&nbsp;Updated-Salary:&nbsp;{{ new_salary.updated_salary }}</p>
			<p>&bull;&nbsp;Total Leaves:&nbsp;{{ new_salary.days_leave }}</p>
			<p>&nbsp;<label style="color:red; font-size:20px">&#42;(Your salary-cut will be activated after you apply for more than 10 leaves)</p></label>
		</div>
	</div>
	</div>
	</div>
</body>
