<!DOCTYPE HTML>
<head>
 <meta charset="utf-8" />
   <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      crossorigin="anonymous"
    />
    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>
<link rel="stylesheet" href="/static/style2.css">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Lateef&display=swap" rel="stylesheet"> 
</head>
<body>
	<div class="nav-btn">Menu</div>
	<div class="container">
		<div class="sidebar">
			<nav>
				<ul>
					<li><a style="font-size:25px ;font-family:'Lateef', cursive" href="/">Home</a></li>
					{% if user.is_authenticated %}
          					<li><a style="font-size:25px; font-family:'Lateef', cursive" href="/">Home</a></li>
          					<li><a style="font-size:25px; font-family:'Lateef', cursive" href="/logout">Logout</a></li>
					        <li><a style="font-size:25px; font-family:'Lateef', cursive" href="/leave_start">Apply for leave</a></li>
						<li><a style="font-size:25px; font-family:'Lateef', cursive" href="/leave_start">Check Leave Status</a></li>
						<li><a style="font-size:25px; font-family:'Lateef', cursive" href="/leave_start">Check-Salary flow</a></li>
          				{% else %}
          					<li><a style="font-size:25px; font-family:'Lateef', cursive" href="/login">Login</a></li>
          					<li  class="active"><a style="font-size:25px; font-family:'Lateef', cursive" href="/sign-up">Sign Up</a></li>
          				{% endif %}
				</ul>
			</nav>
		</div>
					{% with messages = get_flashed_messages(with_categories=true) %} {% if
  					messages %} {% for category, message in messages %} {% if category ==
    					'error' %}
    					<div class="alert alert-danger alter-dismissable fade show" role="alert">
      					{{ message }}
      					<button type="button" class="close" data-dismiss="alert">
        				<span aria-hidden="true">&times;</span>
      					</button>
    					</div>
 					{% else %}
    					<div class="alert alert-success alter-dismissable fade show" role="alert">
      					{{ message }}
      					<button type="button" class="close" data-dismiss="alert">
       					<span aria-hidden="true">&times;</span>
      					</button>
    					</div>
    					{% endif %} {% endfor %} {% endif %} {% endwith %}
		<div class="main-content">
		<form method="POST" >
		<h3  style="font-family:'Lateef', cursive; font-size:50px;" align="center">Sign in </h3>
		<div class="panel-wrapper">
		<div class="panel-head" style="font-family:'Lateef', cursive; font-size:40px; background-color:#8FBC8F; border:1px solid black">
			Please fill in the information to Sign-up:
		</div>
		<div class="panel-body" style="font-family:'Lateef', cursive; font-size:27px; background-color:#F0F8FF; ">
		<div class="form-group">
    		<label for="first_name">First Name</label>
    		<input
     		 type="text"
      		class="form-control"
  		 id="first_name"
      		name="first_name"
      		placeholder="Enter First name"  pattern="[A-Za-z]{3,}" required
   		 />
		</div>
		<div class="form-group">
    		<label for="last_name">Last Name</label>
   		 <input
     		 type="text"
      		class="form-control"
      		id="last_name"
      		name="last_name"
      		placeholder="Enter Last name"  pattern="[A-Za-z]{3,}" required
    		/>
   		</div>
   		<div class="form-group">
    		<label for="contact_no">Contact Number</label>
    		<input
      		type="tel"
      		class="form-control"
      		id="contact_no"
      		name="contact_no"
      		placeholder="Enter Contact-Number " maxlength="10" pattern="[0-9]{10}" required
    		/>
  		</div>
  		<div class="form-group">
    		<label for="email">Email Address</label>
    		<input
      		type="email"
      		class="form-control"
      		id="email"
      		name="email"
      		placeholder="Enter email" pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-z]{2,}$" required
    		/>
  		</div>
   		<div class="form-group">
    		<label for="gen">Gender</label><br>
    		<input type="radio" id="M" name="gen" value="M" required>
   		<label for="Male">Male(M)</label><br>
    		<input type="radio" id="F" name="gen" value="F" required>   
   		<label for="Female">Female(F)</label><br>
  		</div>
  		<div class="form-group">
    		<label for="dob">Date-of-birth(DOB)</label>
    		<input
       		type="date"
      		class="form-control"
      		id="dob"
      		name="dob"
      		placeholder="Enter date" max="2003-01-01" required
    		/> 
  		</div>
  		<div class="form-group">
    		<label for="emp_id">Employee-ID</label>
    		<input
      		type="number"
      		class="form-control"
      		id="emp_id"
      		name="emp_id"
      		placeholder="Enter Employee ID" required min="10000000" max="99999999" step="1" required
    		/>
  		</div>
  		<div class="form-group">
    		<label for="dept_id">Enter Your Department </label><br>
    		<!--<input
     		 type="number"
      		class="form-control"
      		id="dept_id"
      		name="dept_id"
      		placeholder="Enter Department ID" required-->
		<input type="radio" id="1" name="dept_id" value="1">
     		<label for="Finance-Department">Finance-Department</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		<input type="radio" id="2" name="dept_id" value="2">
     		<label for="Research and Development (R&D)">Research and Development (R&D)</label><br>
		<input type="radio" id="3" name="dept_id" value="3">
     		<label for="Operations -Department">Operations-Department</label>&nbsp;&nbsp;
		<input type="radio" id="4" name="dept_id" value="4">
     		<label for="Sales and Marketing-Department">Sales and Marketing-Department</label><br>
		<input type="radio" id="5" name="dept_id" value="5">
     		<label for="Purchase-Department">Purchase-Department</label>&nbsp;&nbsp;&nbsp;&nbsp;
		<input type="radio" id="6" name="dept_id" value="6">
		<label for="Human Resources(HR)-Department">Fine-Foods Division</label><br>
		<input type="radio" id="7" name="dept_id" value="7">
		<label for="Media -Department">Media -Department</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		<input type="radio" id="8" name="dept_id" value="8">
		<label for="Fine Foods Division">Human Resources-HR Department</label><br>
  		</div>
   		<div class="form-group">
    		<label for="position" required>Position-(Designation)</label><br>
     		<input type="radio" id="Manager" name="position" value="Manager" required>
     		<label for="Manager">Manager</label><br>
     		<input type="radio" id="Employee" name="position" value="Employee" required>
     		<label for="Employee">Employee</label><br>
		<input type="radio" id="Director" name="position" value="Director" required>
     		<label for="Director">Director</label><br>
   		</div>
  		<div class="form-group">
   		 <label for="password1">Password</label>
    		<input
     		 type="password"
      		class="form-control"
      		id="password1"
      		name="password1"
      		placeholder="Enter the password" minlength="8"  pattern="(?=.*\d)(?=.*[a-zA-z])(?=.*[*!@#$%^&]).{8,}" required
                />
                <label style="color:red; font-size:18px">&#42;(Must contain atleast one number,one special character and 8 characters in length)</label>
  		</div>
  		<div class="form-group">
    		<label for="password2">Re-enter Password</label>
    		<input
   		   type="password"
      		class="form-control"
      		id="password2"
      		name="password2"
      		placeholder="Re-enter the password" minlength="8" pattern="(?=.*\d)(?=.*[a-zA-z0])(?=.*[*!@#$%^&]).{8,}" required
     		/>
  		</div>
  		<br/>
  		<input type="checkbox" id="confirm" name="confrim" value="confirm" required>
  		<label for="confrim"> I here by confirm and accept that above information is true and correct.</label><br>
  		<input type="checkbox" id="confirm" name="confrim" value="confirm" required>
  		<label for="confrim"> I here by accept the policies of the company.</label><br>
  		<button type="submit" class="btn btn-primary">Submit</button>
  		<br>
		</div>
	</div>
</div>
</div>
</body>
