<!DOCTYPEHTML>
<head>
 <meta charset="utf-8" />
   <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      crossorigin="anonymous"
    />
<link rel="stylesheet" href="/static/style2.css">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Lateef&display=swap" rel="stylesheet"> 
</head>
<body>
	<div class="nav-btn">Menu</div>
	<div class="container">
		<div class="sidebar">
			<nav>
				<ul>
					<li class="active"><a style="font-size:25px ;font-family:'Lateef', cursive" href="/display_dashboard">Dashboard</a></li>
					{% if user.is_authenticated %}
          					<li>&bull;&nbsp;<a style="font-size:25px; font-family:'Lateef', cursive" href="/home1">Home</a></li>
          					<li><a style="font-size:25px; font-family:'Lateef', cursive" href="/logout">Logout</a></li>
					        <li><a style="font-size:25px; font-family:'Lateef', cursive" href="/leave_start">Apply for leave</a></li>
						<li class="active"><a style="font-size:25px; font-family:'Lateef', cursive" href="#">Check Leave Status</a></li>
						<li><a style="font-size:25px; font-family:'Lateef', cursive" href="/salary_flow">Check-Salary flow</a></li>
          				{% else %}
          					<li><a style="font-size:25px; font-family:'Lateef', cursive" href="/login">Login</a></li>
          					<li><a style="font-size:25px; font-family:'Lateef', cursive" href="/sign-up">Sign Up</a></li>
          				{% endif %}
				</ul>
			</nav>
		</div>
	<div class="main-content">
	<div class="panel-wrapper">
		<div class="panel-head" style="font-family:'Lateef', cursive; font-size:40px;  background-color:#5F9EA0; border:1px solid black">
			Applied for leave successfully with following details 
		</div>
		<div class="panel-body" style="font-family:'Lateef', cursive; font-size:30px"><b>
			<p>&bull;&nbsp;Emp_ID:&nbsp;{{ new_leaves.emp_id}},</p>
			<p>&bull;&nbsp;Date-of-Application on:&nbsp;{{ new_leaves.applied_date }}
			<p>&bull;&nbsp;Start-Date:&nbsp;{{ new_leaves.start_date }}</p>
                	<p>&bull;&nbsp;End-Date:&nbsp;{{ new_leaves.end_date }}</p>
			<p>&bull;&nbsp;Leave-type:&nbsp;{{ new_leaves.leave_type }}</p>
                        <p>&bull;&nbsp;Current-Leave-Status:&nbsp;{{ new_leaves.leave_status }}</p>
			<p>&bull;&nbsp;Documents Uploaded:&nbsp;<a style="color-black" href="/view_proofs"><button style="font-family:'Lateef', cursive; font-size:20px;" class="btn btn-primary btn-sm">View</a></button></p>
			<!----<p>&bull;&nbsp;Pending Leaves:&nbsp;{{ new_leaves.pending_leaves }}</p></b>-->
		</div>
	</div>
	</div>
	</div>
</body>
