<!DOCTYPE HTML>
<head>
<link rel="stylesheet" href="/static/style2.css">
<link rel="stylesheet" href="/static/table.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Lateef&display=swap" rel="stylesheet"> 
<style>
.responsive-table {
  li {
    border-radius: 3px;
    padding: 25px 30px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
  }
  .table-header {
    background-color: #95A5A6;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 0.03em;
  }
  .table-row {
    background-color: #ffffff;
    box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.1);
  }
  .col col-1 {
    flex-basis: 10%;
  }
  .col-2 {
    flex-basis: 40%;
  }
  .col-3 {
    flex-basis: 25%;
  }
  .col-4 {
    flex-basis: 25%;
  }
  
  @media all and (max-width: 767px) {
    .table-header {
      display: none;
    }
    .table-row{
      
    }
    li {
      display: block;
    }
    .col {
      
      flex-basis: 100%;
      
    }
    .col {
      display: flex;
      padding: 10px 0;
      &:before {
        color: #6C7A89;
        padding-right: 10px;
        content: attr(data-label);
        flex-basis: 50%;
        text-align: right;
      }
    }
  }
}
</style>
</head>
<body>
	<div class="nav-btn">Menu</div>
	<div class="container">
		<div class="sidebar">
			<nav>
				<ul>
					<li class="active"><a style="font-size:25px ;font-family:'Lateef', cursive" href="#">Dashboard</a></li>
					{% if user.is_authenticated %}
          					<li><a style="font-size:25px; font-family:'Lateef', cursive" href="/">Home</a></li>
          					<li><a style="font-size:25px; font-family:'Lateef', cursive" href="/logout">Logout</a></li>
					        <li><a style="font-size:25px; font-family:'Lateef', cursive" href="/leave_start">Apply for leave</a></li>
						<li><a style="font-size:25px; font-family:'Lateef', cursive" href="/leave_start">Check Leave Status</a></li>
						<li><a style="font-size:25px; font-family:'Lateef', cursive" href="/leave_start">Check-Salary flow</a></li>
          				{% else %}
          					<li><a style="font-size:25px; font-family:'Lateef', cursive" href="/login">Login</a></li>
          					<li><a style="font-size:25px; font-family:'Lateef', cursive" href="/sign-up">Sign Up</a></li>
          				{% endif %}
				</ul>
			</nav>
		</div>
  <div class="main-content">
  <h1 style="font-family:'Lateef', cursive; font-size:50px">Dashboard</h1>
  <div class="panel-wrapper">
		<div class="panel-head" style="font-family:'Lateef'; cursive; font-size:30px; background-color:#8FBC8F; border:2px solid black">
			The Leave Applications To be served are:- 
		</div>
		<div class="panel-body" style="font-family:'Lateef', cursive; font-size:20px,  border:2px solid black">
  		<table class="table table-bordered" style="border:2px solid black" align="center">
		<!--<table border="1" border-spacing:5px>-->
   		<thead>
      		<tr>
			<th style="font-family:'Lateef', cursive; font-size:30px; background-color:#8FBC8F; color:white; border:1px solid black">Leave Status</th>
			<!--<th style="font-family:'Lateef', cursive; font-size:30px; background-color:#8FBC8F; color:white; border:1px solid black">Department -ID</th>-->
			<th style="font-family:'Lateef', cursive; font-size:30px; background-color:#8FBC8F; color:white; border:1px solid black">Type of leave</th>
			<th style="font-family:'Lateef', cursive; font-size:30px; background-color:#8FBC8F; color:white; border:1px solid black">From</th>
			<th style="font-family:'Lateef', cursive; font-size:30px; background-color:#8FBC8F; color:white; border:1px solid black">TO</th>
			<th style="font-family:'Lateef', cursive; font-size:30px; background-color:#8FBC8F; color:white; border:1px solid black">Employee ID</th>
			<th style="font-family:'Lateef', cursive; font-size:30px; background-color:#8FBC8F; color:white; border:1px solid black">Mark the Status</th>
			<th style="font-family:'Lateef', cursive; font-size:30px; background-color:#8FBC8F; color:white; border:1px solid black">Check Proofs</th>
			<th style="font-family:'Lateef', cursive; font-size:30px; background-color:#8FBC8F; color:white; border:1px solid black">Confirm Action</th>
			
		</tr>
		</thead>
		<tbody>
		<tr style="font-family:'Lateef', cursive; font-size:25px; background-color:#F0F8FF; border:1px solid black">
			<td style="border:1px solid black">{{ new_row.leave_status }}</td>
			<!--<td>{{ new_row.dept_id }}</td>-->
			<td>{{ new_row.leave_type }}</td>
			<td>{{ new_row.start_date }}</td>
			<td>{{ new_row.end_date }}</td>
 			<td>{{ new_row.emp_id }}</td>
			<form method="POST" action="/table1/{{ new_row.emp_id }}">
			<td>   	<label for="approve">Approve</label>
    				<input type="radio" id="Approve" name="app" value="Approve"><br>
     				<label for="approve">Reject</label>
    				<input type="radio" id="Reject" name="app" value="Reject"><br>
     				<label for="approve">Pending</label>
    				<input type="radio" id="Pending" name="app" value="Pending"></td>
      			<!--<td style="font-family:'Lateef', cursive; font-size:25px; color:black">	
			<!--<input
     		 		type="text"
      				class="form-control"
      				id="emp_id"
      				name="emp_id"
      				value="{{ new_row.emp_id }}"
    				/></td>-->
			<td><a href="/check_proofs/{{ new_row.emp_id }}">View proof files</a></td>
			<td><a href="/table1/{{ new_row.emp_id }}"><button type='submit' class="btn btn-primary">Confirm</button></a></td>
		</tr>
		</tbody>
		</table>
		</div>
		</div>
	<!--	{% for new_row in new_rows %}
    <li class="table-row">
      <div class="col col-1" data-label="Job Id">{{ new_row.emp_id }}</div>
      <div class="col col-2" data-label="Customer Name">{{ new_row.leave_status }}</div>
      <div class="col col-3" data-label="Amount">{{ new_row.dept_id }}</div>
      <div class="col col-4" data-label="Payment Status">{{ new_row.leave_type }}</div>
      <div class="col col-5" data-label="view application">-->
     <!--<form method="POST" action='/table' >
      <label for="approve">Approve</label>
    	<input type="radio" id="Approve" name="app" value="Approve">
     <label for="approve">Reject</label>
    	<input type="radio" id="Reject" name="app" value="Reject">
      <label for="approve">Pending</label>
    	<input type="radio" id="Pending" name="app" value="Pending">
      <input
     		 type="text"
      		class="form-control"
      		id="emp_id"
      		name="emp_id"
      		value="{{ new_row.emp_id }}"
    		/>
      <a href='/table'><button type='submit'>Confirm</button></a>
      </div>
    </li>
    {% endfor %}
    
    
  </ul>-->
</div>
</div>
</body>
</html>
