<html>
<head>
<link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      crossorigin="anonymous"
    />
    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>
<link rel="stylesheet" href="/static/style2.css">
<link rel="stylesheet" href="/static/table.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Lateef&display=swap" rel="stylesheet"> 
<style>
.responsive-table {
  li {
    border-radius: 3px;
    padding: 25px 30px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
  }
  .table-header {
    background-color: #95A5A6;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 0.03em;
  }
  .table-row {
    background-color: #ffffff;
    box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.1);
  }
  .col col-1 {
    flex-basis: 10%;
  }
  .col-2 {
    flex-basis: 40%;
  }
  .col-3 {
    flex-basis: 25%;
  }
  .col-4 {
    flex-basis: 25%;
  }
  
  @media all and (max-width: 767px) {
    .table-header {
      display: none;
    }
    .table-row{
      
    }
    li {
      display: block;
    }
    .col {
      
      flex-basis: 100%;
      
    }
    .col {
      display: flex;
      padding: 10px 0;
      &:before {
        color: #6C7A89;
        padding-right: 10px;
        content: attr(data-label);
        flex-basis: 50%;
        text-align: right;
      }
    }
  }
}
</style>
</head>
</head>
<body>
<div class="nav-btn">Menu</div>
	<div class="container">
		<div class="sidebar">
			<nav>
				<ul>
						
							<li><a style="font-size:25px ;font-family:'Lateef', cursive" href="/display_dashboard">Dashboard</a></li>
          						<li><a style="font-size:25px; font-family:'Lateef', cursive" href="/">Home</a></li>
          						<li><a style="font-size:25px; font-family:'Lateef', cursive" href="/logout">Logout</a></li>
							<li><a style="font-size:25px; font-family:'Lateef', cursive" href="/view_leaves">Back</a></li>

          						<!--<li><a style="font-size:25px; font-family:'Lateef', cursive" href="/login">Login</a></li>
          						<li  class="active"><a style="font-size:25px; font-family:'Lateef', cursive" href="/sign-up">Sign Up</a></li>-->
				</ul>
			</nav>
		</div>
		<div class="main-content">
		<div class="panel-wrapper">
			<div class="panel-head" style="font-family:'Lateef', cursive; font-size:30px; background-color:#8FBC8F; border:1px solid black">
			The ID of the Employee is:
			</div>
			<div class="panel-body" style="font-family:'Lateef', cursive; font-size:25px; background-color:#F0F8FF; ">
				<p>{{ leave.emp_id }}</p>
			</div>
			<div class="panel-head" style="font-family:'Lateef', cursive; font-size:30px; background-color:#8FBC8F; border:1px solid black">
			The current leave status is:
			</div>
			<div class="panel-body" style="font-family:'Lateef', cursive; font-size:25px; background-color:#F0F8FF; ">
				<p>{{ leave.leave_status }}</p>
			</div>
			<div class="panel-head" style="font-family:'Lateef', cursive; font-size:30px; background-color:#8FBC8F; border:1px solid black">
			The type of leave is:
			</div>
			<div class="panel-body" style="font-family:'Lateef', cursive; font-size:25px; background-color:#F0F8FF; ">
				<p>{{ leave.leave_type }}</p>
			<div class="panel-head" style="font-family:'Lateef', cursive; font-size:30px; background-color:#8FBC8F; border:1px solid black">
			Start-DATE:
			</div>
			<div class="panel-body" style="font-family:'Lateef', cursive; font-size:25px; background-color:#F0F8FF; ">
				<p>{{ leave.start_date }}</p>
			</div>
			<div class="panel-head" style="font-family:'Lateef', cursive; font-size:30px; background-color:#8FBC8F; border:1px solid black">
			END-DATE:
			</div>
			<div class="panel-body" style="font-family:'Lateef', cursive; font-size:25px; background-color:#F0F8FF; ">
				<p>{{ leave.end_date }}</p>
			</div>
			<div class="panel-head" style="font-family:'Lateef', cursive; font-size:30px; background-color:#8FBC8F; border:1px solid black">
				View-Proofs(IF ANY):
			</div>
			<div class="panel-body" style="font-family:'Lateef', cursive; font-size:25px; background-color:#F0F8FF; ">
				<a href="/check_proofs/{{ leave.emp_id }}">View proof files</a>
			</div>
                        <div class="panel-head" style="font-family:'Lateef', cursive; font-size:30px; background-color:#8FBC8F; border:1px solid black">
				Messages with Applications:
			</div>
			<div class="panel-body" style="font-family:'Lateef', cursive; font-size:25px; background-color:#F0F8FF; ">
				<p>{{ leave.mssgs }}</p>
			</div>
			<div class="panel-head" style="font-family:'Lateef', cursive; font-size:30px; background-color:#8FBC8F; border:1px solid black">
			Choose action for applied leave:-
			</div>
			<div class="panel-body" style="font-family:'Lateef', cursive; font-size:25px; background-color:#F0F8FF; ">
			<div class="form-group">
				
				<form method="POST" action="/view1/{{ leave.emp_id }}">
			   	<input type="radio" id="Approved" name="app" value="Approved">
				<label for="approve">Approve</label><br>
				<input type="radio" id="Rejected" name="app" value="Rejected">
     				<label for="approve">Reject</label><br>
    				<input type="radio" id="Kept-Pending" name="app" value="Kept-Pending">
				<label for="approve">Pending</label><br>
				<label style="color:red; font-size:18px">&#42;(Once approved leaves cannot be rejected so keep the status as "Pending" if case of descripancies)</label><br>
				<a href="/view1/{{ leave.emp_id }}"><button style="font-family:'Lateef', cursive; font-size:25px;" type='submit' class="btn btn-primary btn-lg"><b>Confirm</b></button></a>
				</form>
			</div>
			</div>
		</div>
	</div>
</body>
</html>
