{% extends "base.html" %} {% block title %}Login{% endblock %}
{% block content%}
	{% if user %}
		<p>Name:{{ user.first_name }} {{ user.last_name }}</p>
                <p>email:{{ user.email }},</p>
                <p>Gender:{{ user.gen }}, </p>
                <p>DOB:{{ user.dob }}, </p>
                <p>Emp-ID:{{ user.emp_id }}</p>
                <p>Dept-ID:{{ user.dept_id }}</p>
                <p>position:{{ user.position }}</p>
                <p>contact-no:{{ user.contact_no }}</p>
	{% endif %}
{% endblock %}

