<!DOCTYPE HTML>
<head>
<meta charset="utf-8" />
   <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      crossorigin="anonymous"
    />
    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>
<link rel="stylesheet" href="/static/style2.css">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Lateef&display=swap" rel="stylesheet"> 
</head>
<body>
	<div class="nav-btn">Menu</div>
	<div class="container">
		<div class="sidebar">
			<nav>
				<ul>
					<li><a style="font-size:25px ;font-family:'Lateef', cursive" href="/display_dashboard">Dashboard</a></li>
					{% if user.is_authenticated %}
          					<li><a style="font-size:25px; font-family:'Lateef', cursive" href="/">Home</a></li>
          					<li><a style="font-size:25px; font-family:'Lateef', cursive" href="/logout">Logout</a></li>
					        <li  class="active"><a style="font-size:25px; font-family:'Lateef', cursive" href="#">Apply for leave</a></li>
						<li><a style="font-size:25px; font-family:'Lateef', cursive" href="/leave_start">Check Leave Status</a></li>
						<li><a style="font-size:25px; font-family:'Lateef', cursive" href="/leave_start">Check-Salary flow</a></li>
          				{% else %}
          					<li><a style="font-size:25px; font-family:'Lateef', cursive" href="/login">Login</a></li>
          					<li><a style="font-size:25px; font-family:'Lateef', cursive" href="/sign-up">Sign Up</a></li>
          				{% endif %}
				</ul>
			</nav>
		</div>

		{% with messages = get_flashed_messages(with_categories=true) %} {% if
    		messages %} {% for category, message in messages %} {% if category ==
    		'error' %}
    		<div class="alert alert-danger alter-dismissable fade show" role="alert">
      		{{ message }}
      		<button type="button" class="close" data-dismiss="alert">
        	<span aria-hidden="true">&times;</span>
      		</button>
    		</div>
    		{% else %}
    		<div class="alert alert-success alter-dismissable fade show" role="alert">
      		{{ message }}
      		<button type="button" class="close" data-dismiss="alert">
        	<span aria-hidden="true">&times;</span>
      		</button>
    		</div>
    		{% endif %} {% endfor %} {% endif %} {% endwith %}

		<div class="main-content">
		<form action=/leave1 method="POST" enctype=multipart/form-data>
 		<h2 align="center">Please fill the details to continue for the leave application process.</h2>
			<!--<p>Here you can stuff!</p>
                        <p>Name:{{ user.first_name }} {{ user.last_name }}</p>
                	<p>email:{{ user.email }},</p>
                	<p>Gender:{{ user.gen }}, </p>
                	<p>DOB:{{ user.dob }}, </p>
                	<p>Emp-ID:{{ user.emp_id }}</p>
                	<p>Dept-ID:{{ user.dept_id }}</p>
                	<p>position:{{ user.position }}</p>
                	<p>contact-no:{{ user.contact_no }}</p>-->
 <div class="panel-wrapper">
<div class="panel-head" style="font-family:'Lateef', cursive; font-size:30px">
Personal-Details
</div>
<div class="panel-body" style="font-family:'Lateef', cursive; font-size:25px">
 <h3> Select the duration of leave </h3>
  <p><div class="form-group">
    <label for="df">From</label></br>
    <input style="font-size:25px ;font-family:'Lateef', cursive"
      type="date"
      class="form-control"
      id="df"
      name="df"
      placeholder="dd-mm-yyyy" max="01-06-2021" required
    /> 
 </div>
 <div class="form-group">
    <label for="dt">To</label></br>
    <input style="font-size:25px ;font-family:'Lateef', cursive"
      type="date"
      class="form-control"
      id="dt"
      name="dt"
      placeholder="dd-mm-yyyy" max="01-06-2021" required
    /> 
 </div></p>
 <br>
 <div class="form-group">
  <label  style="font-size:25px ;font-family:'Lateef', cursive"for="leave_type">Select the type of your leave depending upon the duration</label><br>
   <!--<select name="leave_type" id="leave_type" required>
   <option style="font-size:25px ;font-family:'Lateef', cursive" value="Maternity-Leave">Maternity-Leave</option>
   <option value="Quarantine-Leave">Quarantine-Leave</option>
   <option value="Study/Sabbatical-Leave">Study/Sabbatical-Leave</option>
   <option value="Vacation-Leave">Vacation-Leave</option>
   <option value="Casual-Leave">Casual-Leave</option>
   <option value="Sick leave">Sick leave</option>
   <option value="On pay-leave">On pay-leave</option>
   <option value="Half-day leave">Half-day leave</option>
   <option value="Family-Emergency">Family-Emergency</option>               
   </select>-->
   <input type="radio" id="Maternity-Leave" name="leave_type" value="Maternity-Leave">
   <label for="Maternity-Leave">Maternity-Leave</label><br>
   <input type="radio" id="Quarantine-Leave" name="leave_type" value="Quarantine-Leave">
   <label for="Quarantine-Leave">Quarantine-Leave</label><br>
   <input type="radio" id="Study/Sabbatical-Leave" name="leave_type" value="Study/Sabbatical-Leave">
   <label for="Study/Sabbatical-Leave">Study/Sabbatical-Leave</label><br>
   <input type="radio" id="Vacation-Leave" name="leave_type" value="Vacation-Leave">
   <label for="Vacation-Leave">Vacation-Leave</label><br>
   <input type="radio" id="Casual-Leave" name="leave_type" value="Casual-Leave">
   <label for="Casual-Leave">Casual-Leave</label><br>
   <input type="radio" id="Sick leave" name="leave_type" value="Sick leave">
   <label for="Sick leave">Sick leave</label><br>
   <input type="radio" id="Half-day leave" name="leave_type" value="Half-day leave">
   <label for="Half-day leave">Half-day leave</label><br>
   <input type="radio" id="On pay-leave" name="leave_type" value="On pay-leave">
   <label for="On pay-leave">On pay-leave</label><br>
   <input type="radio" id="Family-Emergency" name="leave_type" value="Family-Emergency">
   <label for="Family-Emergency">Family-Emergency</label><br>
 </div>
 <div class="form-group">
 <label  style="font-size:25px ;font-family:'Lateef', cursive"for="leave_type">Add Comments/Messages while leave applications:</label><br>
 <textarea rows="10" cols="50" name="address">
Enter messages here...</textarea>
 </div>
 <div class="form-group">
 <label style="font-size:25px ;font-family:'Lateef', cursive" for="leave_type">Upload the required proofs:</label><br>
 <input style="font-size:25px ;font-family:'Lateef', cursive" type=file name=file>
 <br><br>
 </div>
 <button type="submit" class="btn btn-primary" value=Upload>Submit</button>
  <br>
</form>
</div>
</div>
</div>
</div>
</body>
